    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">

           
            
                {% for product in product_list %}
                    <div class="col ">
                        <div class="card shadow-sm">
                            <img src="{{ product.image.url }}" alt="" class="card_img">

                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <h6 class="card-price">{{ product.price }} &#8381;</h6>
                                <p class="card-text"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-outline-dark">Добавить в корзину</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center product-button__block">
                <a href="#" class="col-auto btn btn-dark btn-outline-light product-button">Загрузить еще</a>
            </div>
        </div>
    </div>
