{% load static %}

<div class="container subscribe-container ">
    <div class="container subscribe-container__form">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 g-4 justify-content-center align-content-center subscribe-form">
            <h1 class="subscribe-container__heading col-12">Подписаться на наши новости</h1>
            <div class="col-lg-6  ">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Ваша электронная почта..."
                           aria-label="Recipient's username"
                           aria-describedby="button-addon2">
                    <button class="btn btn-outline-light btn-dark btn subscribe-form__btn" type="button"
                            id="button-addon2">
                        Подписаться
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
